<div class="main-bg">
  <div id="topic-title" class="flex-center">
    <div class="tile title-position" [style.background]="titleBackgroundColor">
      <label>
        <input [style.color]="titleCharsColor" [maxLength]="36" (blur)="disableEdit()"
               (keydown.escape)="endEditing($event)"
               (keydown.enter)="endEditing($event)" type="text" class="title-input"
               [disabled]="!editContent" [(ngModel)]="title">
      </label>
      <span class="material-icons edit-icon" (click)="editTitle()" [class.red]="editContent">
        mode_edit
      </span>
    </div>
    <div style="margin-left: 2%">
      <div style="margin: 50% 0 5px 0; text-align: right; cursor: pointer" [(colorPicker)]="titleCharsColor"
           [cpOutputFormat]="'hex'">
        <span class="color-letters">A</span>
        <img class="color-size" src="assets/color-circle-24.png" alt="color">
      </div>
      <div style="text-align: right; cursor: pointer" [(colorPicker)]="titleBackgroundColor" [cpOutputFormat]="'hex'">
        <span class="color-letters">BG</span>
        <img class="color-size" src="assets/color-circle-24.png" alt="color">
      </div>
    </div>
  </div>
  <div id="add-new-piece" class="create-piece-container">
    <div class="flex-center" *ngIf="!addOptionActive">
      <button mat-button (click)="addOptionActive = !addOptionActive" class="main-btn plus-button">+</button>
    </div>
    <div *ngIf="addOptionActive" (mouseleave)="addOptionActive = false" class="flex-center">
      <button mat-button class="main-btn add-btn-space">Text</button>
      <button mat-button class="main-btn add-btn-space">Code</button>
      <button mat-button class="main-btn add-btn-space">Image</button>
    </div>
  </div>
</div>
<!--
<button mat-button (mouseover)="addOptionActive = true" (click)="addOptionActive = !addOptionActive" class="main-btn plus-button">+</button>
-->
